body {
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(50, 167, 145);
  display: flex;
  padding: 5px 25px;
  justify-content: space-between;
}

.trybewarts-header-logo {
  width: 50px;
}

h1 {
  align-self: center;
  color: white;
}

.trybewarts-login {
  display: flex;
  align-self: center;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
}

.container-name {
  display: flex;
}

.container-textarea {
  position: relative;
  width: fit-content;
}

#counter {
  position: absolute;
  bottom: 5px;
  right: 20px;
  font-size: 13px;
  color: gray;
}
