body {
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(50, 167, 145);
  display: flex;
  /* padding: 5px 25px; */
  justify-content: space-evenly;
}

.trybewarts-header-logo {
  width: 50px;
}

h1 {
  align-self: center;
  color: white;
}

.trybewarts-login {
  display: flex;
  align-self: center;
}

main {
  background-color: rgb(192, 235, 226);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 5px 5px 30px rgb(45, 56, 54);
  margin: 20px;
}

.container-name input {
  margin-bottom: 3px;
  margin-right: 5px;
}
textarea {
  width: 550px;
}

#submit-btn {
  border-radius: 5px;
  margin-top: 3px;
}

.container-rate {
  margin-bottom: 8px;
}

.container-info, .container-family, .container-content, .container-rate, .container-textarea, .container-agreement {
  margin-top: 8px;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
}

.container-name {
  display: flex;
}

.container-textarea {
  position: relative;
  width: fit-content;
}

#counter {
  position: absolute;
  bottom: 5px;
  right: 20px;
  font-size: 13px;
  color: gray;
}

footer {
  text-align: center;
}
/* @media screen and (max-width: 500px) {
  main {
    justify-content: center;
    align-items: center;
  }
  
} */